.App {
  width: 100%;
  min-height: 100vh;
}

/* Smooth scroll behavior */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-navy-dark;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-light rounded-[5px];
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-coral;
}
