@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-navy-dark text-text-primary font-primary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
  }

  code {
    @apply font-code;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    width: 10px;
  }

  .scrollbar-hide::-webkit-scrollbar-track {
    @apply bg-navy-dark;
  }

  .scrollbar-hide::-webkit-scrollbar-thumb {
    @apply bg-slate-light rounded-[5px];
  }

  .scrollbar-hide::-webkit-scrollbar-thumb:hover {
    @apply bg-coral;
  }
}
